h1 { 
    
    color: blue;
}
body {
    background: rgb(139, 160, 218);
    background: linear-gradient(to right, rgb(139, 160, 218), rgb(48, 100, 241));
    background: -webkit-linear-gradient(to right, rgb(139, 160, 218), rgb(48, 100, 241));
}
