h1 { 
    font-size:medium;
    color:black;
    margin-bottom: 20px;
}
h2 { 
    font-size:small;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:black
}
a{
    font-size:x-small;
    color:black;
}
p{
  font-size: large;
  color:black; 
  text-align: left; 
  margin-left: 50px;
  margin-right: 25px;
}
article {
    width: 800px;
    font: 1em sans-serif;
    color: black;
    line-height: 150%;
    margin-left: 50px;
    margin-bottom: 50px;
  
}
li{
  font-size: medium;
  color:black; 
  text-align: left; 
}
* {
  box-sizing: border-box;
}  
.row::after {
content: "";
display:table;
clear: both;
height: fit-content;
table-layout: fixed;
}  
.column1 {
  width:65%;
 height:auto;
 float:left;
}
.column2 {
  width:35%;
 height:auto;
 float:right;
}

  
  .vertical-menu a {
    background-color: rgb(15, 15, 15); 
   font: 1em sans-serif; 
   color:white; 
    display: block; /* Make the links appear below each other */
    padding: 12px; 
    text-decoration: none; /* Remove underline from links */
  }
  
  .vertical-menu a:hover {
    background-color: #ccc; /* Color of the background on mouse-over */
  }
  
  .vertical-menu a.active {
    background-color: cornflowerblue; /* Add a blue color to the "active/current" link */
    color: white; }

    .vertical-menu {
        width: 200px;
        height: 180px;
        overflow-y: auto;
      }  
ul{
  color:black;
}
.vl {
  border-left: 2px solid black;
  margin-block-start: 10px;
  position: absolute;
  top: 120px;
  height: 40%;
}  
